* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&family=Roboto+Condensed:wght@700&display=swap');

html {
    font-size: 1em;
    font-family: "Kurale", serif;
    color: #72a2aa;
}



body {
    background-color: #a8dadc;
}

header {
    background-color: #9ef583;
    text-align: center;
    font-family: "Kurale", serif;
    padding: 20px 40px;
    color: #000000;
    font-size: large;
    text-decoration: underline;
    text-transform: uppercase;
}

footer {
    background-color: #7be96c;
    color:white;
    padding: 20px 40px;
}

#introduction {
    background-color: #f1faee;
    padding: 20px 40px;
    text-align: center;
}

#articles {
    padding: 20px 40px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-family: "Kurale", serif;
    text-transform: lowercase;
}

p {
    text-align: justify;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;

}

nav ul {
    list-style: none;
    text-transform: uppercase;
    
}

q {
    font-size: 1.1rem;
}
#content {
    
    padding: 20px 40px;
    text-align: center;
}

#bio {
    
    padding: 20px 40px;
    text-align: center;
}
#interviev {
    
    padding: 20px 40px;
    text-align: center;
}

a:link {
    color:#000000
}

a:visited {
    color:#000000
}

a:active {
    color: rgb(27, 199, 70);
}

a:hover {
    color: blueviolet;
}

a:focus {
    color: rgb(235, 129, 59);
}

li:nth-child(even){
    background-color: #6c95af;
}
li:nth-child(odd){
    background-color: #e4eff8;
}

a:hover {
    background-color: rgb(50, 224, 224);
}
a:focus{
    background-color: rgb(94, 18, 165);
}

li:nth-child(4)::after{
    content: "Важно!";
    font-size: 12px;
    background-color: rgb(192, 240, 19);
    

}

.h2-new::after {
    content: "анекдоты";
    font-size: 10px;
    color: rgb(42, 92, 133);
    margin-left: 12px;
}

p:first-line{
    letter-spacing: 3px;

}

p:lang(en){
    text-decoration: underline 1px;
}
section p{
    background-color: #cfe2e6;
}
footer img{
    border:solid #7ed35c 3px;
    
}

img + p{
    margin-top: 100px;
}

.my-table{
    border: double 10px rgb(218, 48, 104);
    border-collapse: collapse;
}
.my-table td,
.my-table th{
    border: solid 1px rgb(154, 20, 167);
    padding: 10px 15px;
}

.my-table tr:nth-child(odd){
    color:rgb(255, 254, 166)
}
.my-table td:nth-child(even), 
.my-table th:nth-child(even){
    background-color: rgb(236, 179, 73);
}

.my-table tr:last-child td:nth-child(2){
    text-align: center;
}

#register {
    width: 300px;
    background-color: rgb(149, 207, 255);
    margin: 10px auto ;
    border-radius: 50px;
    padding: 60px;
}
#register input[type = text],
#register input[type = password],
#register textarea,
#register select  {
    background-color: rgb(211, 221, 233);
    padding: 7px;
    border-radius: 5px;
    color: rgb(94, 37, 77);
    margin-bottom: 10px;
    border: 1px solid rgb(65, 21, 66);
}

#register input[type = submit]{
    background: rgb(32, 92, 94);
    border-radius: 2px;
    color: rgb(213, 193, 233);
    border: none;
}
#register input[type = submit]:hover{
    background: #478b77;
}

#register input[type = radio]{
    accent-color: #348d89;
}

.termins{
    border: solid 10px #6bf15f;
    border-collapse: collapse;
}
.termins td,
.termins th{
    border: solid 1px #ffffff;
    padding: 10px 15px;
}

.termins tr:nth-child(odd){
    background-color:#a5cde6
}

.termins  td:nth-child(1),
.termins tr:last-child{
    text-align: right;
    color: rgb(0, 0, 0);
} 

#contact-form {
    color: white;
    padding: 10px 20px;
    background-color: rgb(135, 172, 207);
    text-align: center;
}



#contact-form input[type=text], 
#contact-form input[type=email]{
    height: 15px;
    width: 240px;
    color: black;
    border: black solid 2px;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
}
#contact-form input[type=submit]{
    color: bisque;
    background-color: rgb(70, 109, 160);
    border-radius:16px;
    width: 250px;
    
}


#contact-form input[type=submit]:hover{
 
    background-color: rgb(194, 51, 110);
    border: rgb(221, 103, 119) solid 2px;
   
}

#contact-form textarea{
    background-color: white;
    border-radius: 16px;
    color: black;
    padding:17px;
    width: 230px;
    border: black solid 2px;
}
#contact-form select{
    background-color: white;
    border-radius: 16px;
    color: black;
    padding: 17px;
    width: 265px;
    border: black solid 2px;
}

#contact-form input[type=tel],
#contact-form input[type=date]{
    color: black;
    width: 240px;
    border: black solid 2px;
    border-radius: 16px;
}
    


/*
специфичность: 
body = 1
.pink = 100
#logo = 10000
#mainnav ul = 10001
#mainnav .active = 10100
#mainnav a:hover = 10101
#mainnav ul li.active = 10102





